.mainLayout{
    padding:15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f3f3f3;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}


.button0{
    background-color: #ffffff;
    padding:8px 15px 8px 15px;
    min-width: 100px;
    height:auto;
    box-sizing: border-box;
    border-radius: 5px;
    font-size:12px;
    color:#969696;
    font-weight: 700;
    border:1px solid #dcdcdc;
}

.button1{
    background: linear-gradient(#ffffff,#ffffff,#f3f3f3);
    padding:8px 15px 8px 15px;
    height: auto;
    min-width: 100px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size:12px;
    color:#969696;
    font-weight: 700;
    box-shadow: 0px 1px 1px #cccccc;
    border-bottom:1px solid #fafafa;
    border-right:1px solid #fafafa;
}

.button2{
    background-color: #ffffff;
    padding:8px 15px 8px 15px;
    height: auto;
    min-width: 100px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size:12px;
    color:#969696;
    font-weight: 700;
    box-shadow: 0px 0px 5px #dcdcdc, 1px 1px 3px #ffffff;
}

.button3{
    padding:8px 15px 8px 15px;
    min-width: 100px;
    height: auto;
    box-sizing: border-box;
    font-size:12px;
    font-weight: 700;
    border:2px solid #5877f9;
    color:#5877f9;
    border-radius: 50px;
}

.button4{
    padding:8px 15px 8px 15px;
    min-width: 100px;
    height:auto;
    box-sizing: border-box;
    font-size:12px;
    font-weight: 700;
    border:2px solid #5877f9;
    background: #5877f9;
    color:#ffffff;
    border-radius: 50px;
}

.button5{
    background: linear-gradient(to right, #9fd8ff, #ff92aa);
    padding:10px 15px 10px 15px;
    min-width:100px;
    height:auto;
    box-sizing: border-box;
    border-radius: 50px;
    font-size:12px;
    color:#ffffff;
    font-weight: 700;
    box-shadow: 0px 2px 2px 2px #ffffff40 inset, 0px -2px 2px 2px #00000020 inset;
}

.button6{
    padding:10px 15px 10px 15px;
    min-width:100px;
    height:auto;
    box-sizing: border-box;
    border-radius: 50px;
    font-size:12px;
    font-weight: 700;
    color:#5d5d5d;
    box-shadow: 0px -3px 3px #ffffff, 0px 3px 3px #cccccc;
}
